<div>
    <div class="row well">
            <h3>Subscription Detail</h3>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th colspan="2">Id</th>
                        <th colspan="2">Name</th>
                        <th>OfferId</th>
                        <th>Currency</th>
                        <th>Region</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in subscription">
                        <td colspan="2"><span>{{item.SubscriptionId}}</span></td>
                        <td colspan="2"><span>{{item.DisplayName}}</span></td>
                        <td colspan="1"><span>{{item.OfferId}}</span></td>
                        <td colspan="1"><span>{{item.Currency}}</span></td>
                        <td colspan="1"><span>{{item.RegionInfo}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>